<form action='/stylists' method='post'>
  <label for='stylistsName'>Stylist name</label>
  <input id='stylistsName' name='stylistsName' type='text'>
  <button type='submit'>Add Stylist</button>
</form>
