<a href = "/stylists/add">Add new Stylist</a>

<br>
<br>
<br>
<br>
<p>List of Our Stylists:</p>
@foreach(var stylist in Model)
{
<ul>
  <li><a href="/stylists/@stylist.id">@stylist.name</a></li>
</ul>
}
<a href = "/">Back to Home Page</a>
