@{
  Layout = "_Layout";
}

<h1><p>@Model["Specialty"].description</p></h1>
  <h3> Stylist names :</h3>


  @foreach(var stylist in @Model["specialtyStylists"])
  {
    <li>@stylist.name</li>
  }
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>

<p><a href="/clients">Back to Clients</a> | <a href="/stylists">Back to Stylists</a> | <a href="/specialties">Back to Specialties</a></p>

<p><a href="/">Back to Home Page</a></p>
