@{
  Layout = "_Layout";
}

<div class = "container jumbotron">
<h1>Specialties</h1>
</div>

<a href = "/specialties/add" class = "btn btn-success">Add new Specialty</a>

<br>
<br>

<p>List of Specialties:</p>
@foreach(var specialty in Model)
{
<ul>
  <li><a href="/specialties/@specialty.id">@specialty.description</a></li>
</ul>
}




<a href = "/" class = "btn btn-info">Back to Home Page</a>
