@{
  Layout = "_Layout";
}

<div class="container">
<div class="card bg-faded card-block mb-3 p-3">
<div class = "jumbotron">
<p><h1>Welcome to Hair Salon</h1><p>
</div>
<br>
<br>
<br>
<br>
<a href = "/clients" class = "btn btn-info"> Sign up for a stylist!</a>
<a href="/stylists" class = "btn btn-success">Hair Stylists that work in our Salon!</a>
<a href="/specialties" class = "btn btn-warning">View specialties!</a>

</div>
</div>
