@{
  Layout = "_Layout";
}

<p>Client Details</p>
    <li>Clients Id : @Model["Client"].id</li>
    <li>Clients Name : @Model["Client"].clientName</li>
    <li>Stylists Name: @Model["Stylist"].name</li>

<p><a href="/clients">Back to Clients</a></p>
<p><a href="/stylists">Back to Stylists</a></p>
<p><a href="/">Back to Home Page</a></p>
