@{
  Layout = "_Layout";
}

<div class = "container jumbotron">
<p><h2>@Model["Client"].clientName<h2></p>
</div>

    <li>Clients Id : @Model["Client"].id</li>
    <li>Clients Name : @Model["Client"].clientName</li>
    <li>Stylists Name: @Model["Stylist"].name</li>
</br>
</br>
</br>

<form action='/clients/@Model["Client"].id/delete' method="post">
  <button type="submit" class = "btn btn-danger">Delete this client</button>
</form>
<hr>

<p><a href="/clients" class = "btn btn-warning">Back to Clients</a> | <a href="/stylists" class = "btn btn-success">Back to Stylists</a> | <a href="/" class = "btn btn-info">Back to Home Page</a></p>
