
@{
  Layout = "_Layout";
}
<div class = "container jumbotron">
<h1> Our Clients</h1>
</div>


<h5>List of Clients: </h5>



@foreach(var client in Model)
{
<ul>
  <li><a href="/clients/@client.id">@client.clientName</a>   | <a href="/clients/@client.id/update">Update</a></li>
</ul>
}
<a href = "/clients/add">Add New Client</a>
<br>
<a href = "/"> Back to Home Page </a>
