@using HairSalon.Models;

@foreach(var client in Model)
{
<ul>
  <li><a href="/clients/@client.id">@client.clientName</a></li>
</ul>
}
<a href = "/clients/add">Add New Client</a>
<br>
<a href = "/"> Back to Home Page </a>
